
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
  background-color: gainsboro;
}

.container {
  position: relative;
  max-width: 99%;
  max-height: 50%;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}